.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    border-radius: 6px;
    padding: 16px 32px;
    background: linear-gradient(#ffbb00, #f2a60c);
    color: var(--p5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font:
        600 1.125rem/1.35 "Poppins",
        sans-serif;
    max-width: max-content;
}

.button.second {
    background: var(--c10);
    color: var(--c04);
}

.button.second:hover {
    background: var(--c09);
}

.button.arrow {
    display: flex;
    align-items: center;
}

.button.arrow::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(../../img/icones/seta.svg);
    transition: transform 0.3s;
}

.button.arrow:hover::after {
    transform: translateX(4px);
}

.button:hover {
    background: linear-gradient(#ffb60d, #e59417);
}

.link {
    display: inline-block;
    color: var(--p1);
    font:
        500 1.25rem/1.8 "Poppins",
        sans-serif;
    text-transform: uppercase;
}

.link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: currentColor;
}

.link:hover {
    color: var(--c0);
}

/* TITULO */

.title-bg {
    background: var(--c11);
    padding-top: 60px;
    padding-bottom: 60px;
}

.title p {
    margin-bottom: 4px;
}

@media (max-width: 800px) {
    .title-bg {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .title p {
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}

@media (max-width: 600px) {
    .button {
        padding: 12px 16px;
        font-size: 1rem;
    }
}
