.font-xxl {
    font:
        600 4rem/1.125 "Poppins",
        sans-serif;
}

.font-xl {
    font:
        600 2rem/1.25 "Poppins",
        sans-serif;
}

.font-l {
    font:
        500 2rem/1.333 "Poppins",
        sans-serif;
}

.font-l-2 {
    font:
        500 1.5rem/1.333 "Poppins",
        sans-serif;
}

.font-m {
    font:
        600 1.25rem/1.8 "Poppins",
        sans-serif;
}

.font-s {
    font:
        500 1.25rem/1.333 "Poppins",
        sans-serif;
}

.font-nav {
    font:
        400 1.125rem/1.777 "Poppins",
        sans-serif;
}

.font-xs {
    font:
        600 0.875rem/1.4 "Poppins",
        sans-serif;
}

/* SECONDARY */

.font-xl-b {
    font:
        600 2.25rem/1.333 "Roboto",
        sans-serif;
}

.font-l-b {
    font:
        400 1.5rem/1.333 "Roboto",
        sans-serif;
}

.font-l-bold {
    font:
        500 1.25rem/1.6 "Roboto",
        sans-serif;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.font-m-b-2 {
    font:
        500 1.25rem/1.6 "Roboto",
        sans-serif;
}

.font-s-b {
    font:
        400 1.125rem/1.333 "Roboto",
        sans-serif;
}

.font-xs-b {
    font:
        400 1rem/1.5 "Roboto",
        sans-serif;
}

.font-ss {
    font:
        600 0.8rem/1.333 "Roboto",
        sans-serif;
}

.font-mini {
    font:
        500 1.125rem/1.333 "Roboto",
        sans-serif;
}

/* MEDIA QUERIE */

@media (max-width: 1200px) {
    .font-xxl {
        font-size: 3rem;
    }
    .font-l-b,
    .font-l-bold {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .font-xxl {
        font-size: 2rem;
    }
    .font-xl,
    .font-xl-b {
        font-size: 1.5rem;
    }
}
