.vantagem-bg {
    background: var(--c12);
}

.vantagem {
    padding-top: 120px;
    padding-bottom: 120px;
}

.vantagem h2 {
    padding-bottom: 60px;
}

.vantagem ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
}

.vantagem h3,
.vantagem img {
    margin-bottom: 8px;
}

/* MEDIA QUERIE */

@media (max-width: 800px) {
    .vantagem {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .vantagem h2 {
        margin-bottom: 40px;
    }

    .vantagem ul {
        gap: 20px;
    }
}
