.seguros-bg {
    background: var(--c11);
}

.seguros {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#seguros .seguros {
    padding-top: 0;
}

.seguros h2 {
    grid-column: 1 / -1;
}

.seguro-item {
    display: grid;
    grid-template-columns: 1fr auto;
    background: var(--c12);
    padding: 32px 32px 32px 60px;
    border-radius: 6px;
}

.seguro-item h3 {
    margin-bottom: 40px;
}

.seguro-item span {
    grid-column: 2;
    display: block;
    text-align: right;
}

.seguro-item ul {
    grid-column: 1 / -1;
    margin-bottom: 32px;
}

.seguro-item li {
    position: relative;
    display: flex;
    align-items: center;
}

.seguro-item li + li {
    margin-top: 20px;
}

.seguro-item a {
    grid-column: 1 / -1;
}

.seguro-item li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background: url(../../img/icones/lista.svg);
    position: absolute;
    left: -21px;
}

@media (max-width: 800px) {
    .seguros {
        grid-template-columns: 1fr;
    }
}
