.intro-bg {
    background: var(--c11);
    box-shadow: inset 0 -120px var(--c0);
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro-content {
    align-self: end;
    padding-bottom: 200px;
}

.intro h1 {
    margin-bottom: 32px;
}

.intro p {
    margin-bottom: 20px;
}

.intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* INTRO QUERIES  */

@media (max-width: 800px) {
    .intro-bg {
        background: var(--c13);
        padding: 40px 0 0 0;
        box-shadow: inset 0 -60px var(--c0);
    }
    .intro h1 {
        margin-bottom: 16px;
    }
    .intro {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .intro-content {
        padding-bottom: 0px;
    }

    .intro img {
        height: 300px;
        width: 100%;
    }
}
