.tech-bg {
    background: var(--c11);
    box-shadow:
        inset 0 80px var(--c0),
        inset 0 -80px var(--c0);
}

.tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tech-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.tech-content {
    padding: 160px 0;
}

.tech-content > span {
    display: block;
    margin-bottom: 20px;
}

.tech-content h2 {
    margin-bottom: 32px;
}

.tech-content > p {
    margin-bottom: 32px;
}

.tech-content a {
    margin-bottom: 80px;
}

.tech-box {
    display: flex;
    gap: 40px;
}

.tech-box h3 {
    margin-bottom: 8px;
    width: max-content;
}

.tech-box img {
    width: 24px;
    margin-bottom: 8px;
}

/* MEDIA QUERIE */

@media (max-width: 800px) {
    .tech-bg {
        box-shadow: initial;
    }
    .tech {
        grid-template-columns: 1fr;
    }
    .tech-content {
        padding: 60px 0;
    }
    .tech-img {
        display: none;
    }
    .tech a {
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .tech-box {
        flex-direction: column;
    }
}
