.testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--p1);
    overflow: hidden;
}

.testimonial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.testimonial-content {
    padding: 40px 40px 80px 80px;
    align-self: end;
}

.testimonial-content p {
    position: relative;
    font:
        700 1.5rem/1.33 "Merriweather",
        serif;
    font-style: italic;
    max-width: 32ch;
    margin-bottom: 32px;
}

/* AFTERS AND HOVERS */

.testimonial p::before,
.testimonial p::after {
    position: absolute;
    font-size: 5rem;
    color: var(--p2);
    mix-blend-mode: color-burn;
}

.testimonial p::before {
    content: "“";
    left: -50px;
    top: -20px;
}

.testimonial p::after {
    content: "”";
}

@media (max-width: 800px) {
    .testimonial {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .testimonial-content {
        padding: 40px 20px;
        justify-self: center;
    }
    .testimonial img {
        max-height: 400px;
    }
    .testimonial p::before {
        content: "“";
        left: -35px;
    }
}
