.footer-bg {
    background: var(--c11);
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    gap: 40px;
    padding-top: 60px;
}

.footer h3 {
    margin-bottom: 32px;
}

.footer-contact ul {
    margin-bottom: 32px;
}

.footer li {
    margin-bottom: 16px;
}

.social {
    display: flex;
    gap: 32px;
}

/* HOVER & OTHERS*/

.footer-contact li:nth-child(even)::after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: rgba(224, 224, 224, 0.1);
    margin-top: 16px;
}

.footer a:hover {
    color: var(--c0);
}

.footer-copy {
    grid-column: 1 / -1;
    margin-top: 40px;
}

/* MEDIA QUERIE */

@media (max-width: 800px) {
    .footer > img {
        display: none;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .footer-copy {
        margin-top: 0;
    }
}
