.insurance-bg {
  background: var(--c11);
  box-shadow:
    inset 0 120px var(--c0),
    inset 0 -120px var(--c12);
}

.insurance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.insurance-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insurance-content {
  padding-top: 180px;
  padding-bottom: 180px;
}

.insurance h2 {
  margin-bottom: 32px;
}

.insurance p {
  margin-bottom: 20px;
}

#bicicleta .footer-bg {
  background: var(--c12);
}

@media (max-width: 800px) {
  .insurance-bg {
    box-shadow: inset 0 -60px var(--c12);
  }
  .insurance {
    grid-template-columns: 1fr;
  }
  .insurance-content {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .insurance-img {
    height: 200px;
  }
}
