.bik-list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bik-list h2 {
  margin-bottom: 40px;
}

.bik-list h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.bik-list h3::before {
  content: "";
  display: inline-block;
  background: var(--p1);
  width: 12px;
  height: 8px;
  transition: width 0.2s;
}

.bik-list a:hover h3::before {
  width: 24px;
}

.bik-list li span {
  padding-left: 20px;
}

.bik-list ul {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  overflow-x: auto;
}

#bicicleta .bik-list ul {
  padding: 0 0 20px 0;
}

.bik-list li {
  min-width: 280px;
}

.bik-list a {
  display: block;
}

.bik-list img {
  margin-bottom: 16px;
}

/* MEDIA QUERIE */

@media (max-width: 800px) {
  .bik-list {
    padding-bottom: 60px;
  }
  .bik-list ul {
    gap: 20px;
  }
}
