#budget {
  background: linear-gradient(var(--c11) 600px, #f9f9f9 0);
}

.budget {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.budget h2 {
  text-transform: uppercase;
  font:
    500 0.75rem/2 "Poppins",
    sans-serif;
  letter-spacing: 0.15px;
  position: relative;
  display: flex;
  align-items: center;
}

.budget h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: var(--p1);
  position: absolute;
  left: -12px;
}

.budget-product,
.budget-data {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.budget-product {
  border-radius: 6px 0 0 6px;
  background: var(--c12) url("../../img/dec/bottom-left.svg") no-repeat bottom
    20px left 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}

.budget-product > * {
  grid-column: 1 / -1;
}

.budget-product > label {
  grid-column: initial;
}

.budget-product label {
  font:
    500 1rem/1.5 "Poppins",
    sans-serif;
  color: var(--c04);
  background-color: var(--c11);
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--c11);
}

.budget-content {
  display: none;
}

.budget-product label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid var(--c06);
  border-radius: 50%;
  margin-right: 8px;
}

.budget-product input:checked + label::before {
  border-color: var(--c07);
  box-shadow:
    inset 0 0 0 3px var(--c0),
    inset 0 0 0 6px var(--c07);
}

.budget-product label:hover {
  background: var(--c10);
  border-color: var(--c10);
}

.budget-product input:focus + label {
  background: var(--c10);
  box-shadow: 0 0 0 2px var(--p1);
  border-color: var(--c11);
}

.budget-product label span {
  display: none;
}

.budget-product input:checked + label span {
  display: inline-block;
}

.budget-content h2,
.budget-data h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

.budget-product input:checked + label {
  background: var(--c0);
  color: var(--c11);
}

.budget-data {
  border-radius: 0px 6px 6px 0;
  background: var(--c0) url("../../img/dec/bottom-right.svg") no-repeat bottom
    20px right 20px;
}

.budget-product input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#bikcraft:checked ~ #budget-bikcraft,
#seguro:checked ~ #budget-seguro {
  display: grid;
  gap: 20px;
}

.budget-detail {
  display: none;
  background: var(--c0);
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  border-radius: 6px;
  align-items: center;
}

.budget-detail li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.budget-detail li img {
  width: 16px;
  margin-right: 8px;
}

.budget-product input:checked + label + .budget-detail {
  display: grid;
}

/* MEDIA QUERIE */

@media (max-width: 1200px) {
  .budget-product,
  .budget-data {
    padding: 32px;
  }
}

@media (max-width: 800px) {
  .budget {
    grid-template-columns: 1fr;
  }
  .budget-data {
    border-radius: 0 0 5px 5px;
  }
  .budget-product {
    border-radius: 5px 5px 0 0;
    background: var(--c12);
  }
}

@media (max-width: 450px) {
  .budget-product {
    grid-template-columns: 1fr;
  }
}
