#budget {
  background: linear-gradient(var(--c11) 600px, #f9f9f9 0);
}

.budget {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.budget h2 {
  text-transform: uppercase;
  font:
    500 0.75rem/2 "Poppins",
    sans-serif;
  letter-spacing: 0.15px;
  position: relative;
  display: flex;
  align-items: center;
}

.budget h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: var(--p1);
  position: absolute;
  left: -12px;
}

.budget-product,
.budget-data {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.budget-product {
  border-radius: 6px 0 0 6px;
  background: var(--c12);
}

.budget-data {
  border-radius: 0px 6px 6px 0;
  background: var(--c0);
}
