@import url(global/global.css);
/* UTILITY */
@import url(utility/typography.css);
@import url(utility/colors.css);
@import url(utility/components.css);
/* HEADER & FOOTER */
@import url(global/header.css);
@import url(global/footer.css);
/* HOME */
@import url(home/intro.css);
@import url(home/tech.css);
@import url(home/partners.css);
@import url(home/testimonials.css);
/* BIK LIST */
@import url(bikes/bik-list.css);
/* SECURE */
@import url(seguros/seguros.css);
@import url(terms/terms.css);
